<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login/">
        {% csrf_token %}
        <input type="text" name='username' placeholder="User Name"><br />
        <input type="text" name='password' placeholder="Pass Word"><br />
        <input type="submit">
    </form>

    <!-- <div style='color:red'>
        {% for msg in messages %}
        <strong>{{msg}}</strong>
        {% endfor %}
    </div> -->

</body>
</html>